<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Superhero-pedia </title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Superhero-pedia</h1>
            <form id="searchForm" action="/search" method="POST" class="search-bar">
                <input type="text" id="searchInput" class="form-control" placeholder="Search superhero by name" name="name" required>
                <button id="searchButton" class="btn">Search</button>
            </form>
        </div>
    </header>
