<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="navigation-buttons">
        <form action="/character/prev" method="GET" class="prev-form">
            <button type="submit" class="btn nav-btn">Previous</button>
        </form>
        <form action="/character/next" method="GET" class="next-form">
            <button type="submit" class="btn nav-btn">Next</button>
        </form>
    </div>
</footer>
