.card {
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-bottom: 3px solid #007bff;
}

.card-body {
    padding: 30px;
    text-align: center;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
}

.card-text {
    font-size: 18px;
    margin-bottom: 15px;
    color: #495057;
    line-height: 1.5;
    text-align: left;
    padding: 0 15px;
}

.card-text p {
    margin-bottom: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.navigation-buttons form {
    flex: 1;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px; 
    object-fit: contain; 
    padding: 15px; 
    background-color: #ffffff; 
    border-bottom: 3px solid #007bff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

/* Ajustes para pantallas */
@media (max-width: 768px) {
    .card-img-top {
        max-height: 300px;
    }
}

.card-img-top:hover {
    filter: brightness(95%);
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    background-image: url('/img/Fondo.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.notf {
    font-size: 24px;
    color: red;
    text-align: center; 
    margin-top: 50px;
    padding: 20px; 
    border: 2px solid red; 
    border-radius: 10px;
    background-color: #f8d7da;
}

.container {
    padding: 50px;
    text-align: center;
}
