<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Search Results</title>
    <link rel="stylesheet" href="/css/results.css">
</head>
<body>
<div class="contenedor-flex">
    <header>
        <a href="/">
            <img src="/img/Results.png" alt="Resultados" class="centro" width="800" height="190" >
        </a>
    </header>
    
    <div class="grid-container">
        <% foundCharacters.forEach(character => { %>
            <div class="mini-card" onclick="window.location.href='/character/<%= character.index %>'"> <!-- Se usa el character index en lugar del id -->
                <img src="<%= character.images.lg %>" alt="<%= character.name %>">
                <h2><%= character.name %></h2>
            </div>
        <% }) %>
    </div>
</div>

</body>
</html>
